@import './_config.scss';
@import './_helpers.scss';
@import './../css/_mixins.scss';


@import url('https://fonts.googleapis.com/css?family=Poppins:500|Open+Sans');

body {
    background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23d9d9d9' fill-opacity='0.19'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', serif;
    font-weight: 500;
}

h1 {
    font-size: 2.6rem;
    @media only screen and (max-width: 767px) {
        font-size: 2rem;
    }
}

.landing-page {
    overflow-x: hidden;
}

.text-primary {
    color: $primary_color!important;
}
.text-secondary {
    color: $secondary_color!important;
}
.text-ternary {
    color: $ternary_color!important;
}
.text-success {
    color: $success_color!important;
}

.container {
    padding: 1.5rem;
}

.btn {
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
    transition: box-shadow 600ms linear, border 300ms ease;
    // border-radius: 4px;
    border-radius: 25px;

    &-primary {
        color: $white;

        &,
        &:hover {
            color: $white;
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }

    &-secondary {
        color: $white;

        &,
        &:hover {
            color: $white;
            background-color: $secondary_color;
            border-color: $secondary_color;
        }
    }

    &-tertiary {
        color: $white;

        &,
        &:hover {
            color: $white;
            background-color: $ternary_color;
            border-color: $ternary_color;
        }
    }

    &-muted {
        color: $dark;
        background-color: $white;
        border-color: $dark;


        &:hover {
            background-color: $dark;
            color: $white;

        }

    }

    &--hero {
        box-shadow: 0 10px 35px rgba($dark, .15);
        min-width: 20rem;
        overflow: hidden;
        border: 0;

        @media only screen and (min-width: 992px) {
            padding: .85rem .5rem;
        }

        background: linear-gradient(217deg, $ternary_color, $primary_color);
        transition: transform 300ms ease, box-shadow 500ms linear;

        @include p-relative;

        &:hover {
            box-shadow: 0 15px 45px rgba($dark, .25);
            transform: translateY(-5px);
        }
    }

    &--with-direction-right {

        overflow: hidden;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .direction-icon {
            position: absolute;
            left: 100%;
            display: inline-block;
            transform: translateX(0);
            opacity: 0;
            transition: transform 150ms cubic-bezier(.37,-0.19,.79,1.13), opacity 200ms ease;
            
        }

        &:hover  .direction-icon{
            opacity: 1;
            transform: translateX(-30px);
        }

    }

}

// helpers

@media only screen and (min-width: 992px) {
    .zoomed-on-desktop {
        transform: scale(1.075);
    }
}
