@import './_config.scss';
@import './_helpers.scss';

@import url('https://fonts.googleapis.com/css?family=Poppins:500|Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', serif;
    font-weight: 500;
}

.card {
    box-shadow: 0 5px 20px rgba($dark, .1);
    transition: 300ms ease;
    &:hover {
        box-shadow: 0 5px 30px rgba($dark, .2);
    }
}

.landing-page {
    overflow-x: hidden;
}

.btn {
    transition: box-shadow 600ms linear, border 300ms ease;
    color: $white!important;
    border-radius: 4px;

    &-primary {

        &,
        &:hover {
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }

    &-secondary {

        &,
        &:hover {
            background-color: $secondary_color;
            border-color: $secondary_color;
        }
    }

    &-tertiary {

        &,
        &:hover {
            background-color: $ternary_color;
            border-color: $ternary_color;
        }
    }
}


.message-callout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    margin: 40px auto;
}

// helpers

@media only screen and (min-width: 992px) {
    .zoomed-on-desktop {
        transform: scale(1.075);
    }
}

// contact

.contact-form {
    padding: 3rem 0 2rem 0;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    // box-shadow: 0 10px 25px rgba($dark,.2);
}

.form-section {
    margin-bottom: 30px;
    &.last {
        margin-bottom: 0;
    }

    label {
        font-weight: 700;
    }
}

.form-section-heading {

    font-weight: 700;
    background: $dark;
    color: $white;
    position: relative;
    z-index: 1;
    transform: translateY(-35px) translateX(-60px);
    display: inline-block;
    margin: 0;
    text-align: left;    

    @media only screen and (max-width: 767px) {
        transform: translateY(-35px) translateX(5px);
        margin: 0 -2rem;
    }
}

.form-control {
    border-color: #aaa;
}

// Static contact

.static-contact {
    background: $white;
    box-shadow: 0 5px 30px rgba(0,0,0,.1);
    padding: 1.2rem;

    .top {
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem;
    }
}

.thanks {
   padding-top: 80px;
   padding-bottom: 80px;
   text-align: center;
}

.project {
    overflow: hidden;
    margin-bottom: 4rem;
    &__image {
        box-shadow: 0 10px 30px rgba($dark, .1);
    }
    &__features {
        text-align: left;
        .fa { 
            margin-right: 1rem;
            transform: scale(1.4);
            color: $ternary_color;
        }
    }
}