{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "padded-blocks": "error",
    "prefer-const": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
