@import './../css/_config.scss';

.accordion-item {
  border-bottom: 1px solid rgba($dark, 0.15);
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem;
    background: transparent;
    border-radius: 5px;
    width: 100%;
    appearance: none;
    border: 0;
    text-align: left;
  }

  &__toggle {
    display: block;
    margin-left: 10px;
    transform: rotate(90deg);
    font-size: 1.3rem;
  }

  &__content-wrapper {
    overflow: hidden;
    color: rgba(#111, 0.7);
    background: lighten($lightgray, 6%);
    height: 0;
    .content {
      padding: 2rem;
    }
  }
}
