@import './../css/_config.scss';

// contact
$error_color: #b9003e;

.contact-form {
  margin: 3rem 0 5rem;
  &__submit-btn-wrapper {
    margin-top: 1rem;
  }
}

.form {
  display: block;
  &__group {
    &:not(&::last-child) {
      margin-bottom: 0;
    }
  }
  // error message styles
  &__errormsg {
    color: $error_color;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

input.form__input,
textarea.form__input {
  border-radius: 0;
  appearance: none;
  box-shadow: none;
  display: block;
  font-size: inherit;
  line-height: 1.5;
  min-height: calc(1.5em + 0.75rem + 2px);
  outline: none;
  transition: border-color 0.15s ease-in-out;
  width: 100%;
  padding: 2rem 0.65rem 0.75rem 1rem;
  border: 0;
  background-color: $lightgray;
  border-bottom: 3px solid darken($lightgray, 10%);

  &.error {
    border-bottom-color: $error_color;
    color: $error_color;
  }

  &:focus:not(.error) {
    border-color: $primary_color;
  }
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form__group {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  z-index: 1;
}

.form__label {
  position: absolute;
  top: 0;
  left: 1rem;
  font-weight: 400;
  color: rgba($dark, 0.5);
  cursor: pointer;
  z-index: 5;
}

.error-message {
  color: #b9003e;
  font-size: 1.3rem;
  position: absolute;
  bottom: -0.75rem;
  left: 0;
}

.contact-thank-you {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: 4rem 0;
  background: $lightgray;
  min-height: 40vh;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  p {
    margin-bottom: 0;
  }
  img {
    max-width: 100px;
    display: block;
    margin-right: 3rem;
  }

  @media screen and (max-width: 475px) {
    img {
      margin: 0 auto 2rem auto;
    }
    flex-direction: column;
  }
}
