@import './../css/_config.scss';

// contact
$error_color: #b9003e;

.contact-form {
  border-radius: 4px;
  background-color: $white;
  max-width: 43rem;
  margin: auto;

  &__submit-btn-wrapper {
    margin-top: 1rem;
  }
}

.label {
  font-weight: 700;
  font-size: 0.9rem;
  cursor: initial;
  color: rgba(#111, 0.5);
  padding: 0 0.75rem;
  transform: translateY(38px);
  transition: 200ms ease;
  &--shift-top {
    transform: translateY(0);
    color: rgba(#111, 0.8);
  }
  &--with-hint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hint {
      font-size: 11px;
      color: rgba($dark, 0.5);
    }
  }
}

.form-group {
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}

.error-message {
  color: #b9003e;
  font-size: 12px;
  position: absolute;
  bottom: 4px;
  left: 0.75rem;
}

.form-section-heading {
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin: 2.5rem 0 1rem;
  font-size: 1.1rem;
}

.form-control {
  border-color: #aaa;
}

.form-control.error,
.custom-select.error {
  border-color: $error_color;
}
