@import "./../css/_config.scss";

// contact
$error_color: #b9003e;

.contact-form {
  border-radius: 4px;
  background-color: $white;
  display: block;
  min-width: 100%;

  &__submit-btn-wrapper {
    margin-top: 1rem;
  }
}

.form-control {
  font-size: inherit;
}

input.form-control,
textarea.form-control {
  border-color: rgba($dark, 0.4);
  box-shadow: none !important;
  &:focus {
    border-color: rgba($dark, 0.75);
  }
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.label {
  top: 0;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  color: #191919;
  cursor: pointer;
  margin-bottom: 0.5rem;
  .hint {
    font-size: 1.2rem;
    color: #686868;
  }
}

.error-message {
  color: #b9003e;
  font-size: 1.3rem;
  position: absolute;
  bottom: -0.75rem;
  left: 0;
}

.form-control.error,
.custom-select.error {
  border-color: $error_color;
}

.contact-thank-you {
  display: flex;
  align-items: center;
  padding: 2rem;
  p {
    margin-bottom: 0;
  }
  img {
    max-width: 100px;
    display: block;
    margin-right: 3rem;
  }

  @media screen and (max-width: 475px) {
    img {
      margin: 0 auto 2rem auto;
    }
    flex-direction: column;
  }
}
