@import "./../css/_config.scss";

.accordion-item {
  margin-bottom: 1rem;
  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    background: $lightgray;
    border-radius: 5px;
  }
  &__toggle {
    transform: rotate(-90deg);
    appearance: none;
    background: none;
    padding: 0;
    display: inline-block;
    border: 0;
    transition: 300ms transform ease;
    .collapsed & {
      transform: rotate(90deg);
    }
  }

  &__answer {
    overflow: hidden;
    color: rgba(#111, 0.7);
    background: lighten($lightgray, 6%);
    .content {
      padding: 2rem;
      .collapsed & {
        display: none;
      }
    }
  }
}
