@import './../css/_config.scss';

.faq-block {
    margin-bottom: .5rem;
    &__q {
        appearance: none;
        border-bottom: 1px solid rgba($dark, .4);
        border: 0;
        color: rgba($dark, .8);
        cursor: pointer;
        display: block;
        outline: 0!important;
        padding: .5rem 1rem;
        text-align: left;
        width: 100%;

        &.expanded {
            background-color: rgba($primary_color, .1);
            border-bottom-color: transparent;
            color: rgba($dark, .7);
        }
    }
    &__q-icon {
        color: $dark;
        display: inline-block;
        margin-right: 1rem;
        transform: scale(1.4);
        .expanded & { color: rgba($dark, .7); }
    }
    &__a {
        padding: 2rem 2rem 2rem 3rem;
    }
}