@import './../css/_config.scss';

.site-footer {

    padding: 2rem 0;
    position: relative;
    z-index: 1;
    background-color: $off_white;
    @media only screen and (max-width: 767px) {
        padding: 1rem 0;
    }

    &__logo {
        width: 40px;
        border-radius: 2px;
        margin-right: 1rem;
        transform: translateY(5px);
    }

    .container {
        padding: .5rem 2rem;
    }
}

.footer__social {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 767px) {
        justify-content: center;
    }

    li {
        display: inline-block;
        margin-right: .5rem;
        &:last-child { margin-right: 0; }

    }
    a {
        display: block;
        color: $dark;
        background: rgba($dark, .05);
        padding: .5rem;
        line-height: 0;
        border-radius: 50%;
        transition: 200ms cubic-bezier(0.75, 0, 0.125, 1);
        &:hover {
            background: $ternary_color;
            color: $white;
            transform: scale3d(1.1, 1.1, 1);
        }
    }
}
