@import '../css/config';
@import '../css/global.scss';

.hero-callout {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image: linear-gradient(rgba(#fff, 0.82) 30%, rgba(#fff, 0.95)),
    url('/static/images/get-started-splash-compressed.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  &__btn {
    background-color: transparent;
  }
}
