@import '../css/config';
@import '../css/global.scss';

.hero-columns {

    padding-top: 6rem;
    padding-bottom: 6rem;

    @media only screen and (max-width: 767px) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__header {
        margin: 0 0 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0,0,0,.1);
        h4 {
            margin: 0 0 .5rem;
        }
        p {
            margin: 0;
        }

        @media only screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__top-icon {
        display: block;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0 0 1rem;
    }

    &__column-text {
        font-size: .925rem;
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 767px) {
        &__title,
        &__top-icon {
            text-align: center;
        }
    }

}