@import './../css/_config.scss';
@import './../css/_mixins.scss';

.portfolio-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: $dark;
  background-image: linear-gradient(
    rgba($ternary_color, 0.5),
    rgba($dark, 0.5)
  );
  color: $white;
  transition: all 300ms ease;
  text-decoration: none;
  overflow: hidden;
  opacity: 0.01;
  transform: translateY(100%);

  &--shown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  &__wrapper {
    flex: 0 1 800px;
    padding: 2rem;
  }

  &__title {
    font-size: 2rem;
    margin: 0 0 1rem;
    color: $white;
    @media only screen and (max-width: 767px) {
      font-size: 1.6rem;
    }
  }

  &__desc {
    margin: 0 0 2rem;
    font-size: 1rem;
    color: rgba($white, 0.8);
    @media only screen and (max-width: 767px) {
      font-size: 0.8rem;
    }
  }

  &__title,
  &__desc {
    text-align: center;
  }

  &__close {
    appearance: none;
    background: transparent;
    border: none;
    color: rgba($white, 0.8);
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    right: 25px;
    top: 40px;
    transform-origin: center;
    transition: color 150ms linear;
    z-index: 1005;
    &:hover {
      color: $white;
    }

    @media only screen and (max-width: 640px) {
      top: 15px;
      right: 15px;
      font-size: 20px;
    }
  }

  &__btn-wrapper {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    transition: 320ms ease-in-out;
    .btn {
      flex: 0 1 300px;
      border-color: rgba($white, 0.1);
      background: rgba($white, 0.1);
      box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25);
      &:hover,
      &:focus,
      &:active {
        border-color: rgba($white, 0.2);
        background: rgba($white, 0.2);
      }
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid rgba($white, 0.35);
    display: block;
    margin-bottom: 2rem;
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
      font-size: 0.8rem;
      margin-right: 1rem;
      padding: 0.15rem 0.5rem;
      background: rgba($white, 0.1);
      color: rgba($white, 0.7);
      border-radius: 5px;
      margin-bottom: 0.75rem;
    }
  }

  @media only screen and (max-width: 767px) {
    &__btn-wrapper {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      .btn {
        flex: 1 1 100%;
      }
    }
  }
}
