@import './../css/_config.scss';
@import './../css/_mixins.scss';

$splash_bg_color: $primary_color;
$splash_text_color: $white;

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  min-height: 200px;
  position: relative;
  z-index: 1;
  margin-bottom: 6rem;
  color: $splash_text_color;
  background-color: $splash_bg_color;

  &__inner {
    padding: 4rem;
    max-width: 800px;
    text-align: center;
  }

  &__title {
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }
}
