@import './../css/_config.scss';
@import './../css/_mixins.scss';

$splash_bg_color: $primary_color;
$splash_text_color: $white;

.splash {
  display: flex;
  align-items: center;
  border-radius: 0;
  min-height: 200px;
  position: relative;
  z-index: 1;
  margin-bottom: 6rem;
  color: $splash_text_color;
  background-color: $splash_bg_color;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border-top: 25px solid $splash_bg_color;
    border-bottom: 25px solid transparent;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
  }

  &__inner {
    padding: 1rem 3rem;
    max-width: 800px;
  }

  &__title {
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }
}
