@import './../css/_config.scss';

.testimonials {
  min-height: 20rem;
  padding: 8rem 0;
  position: relative;
  z-index: 1;
  background-color: $dark;
  &__title {
    color: $white;
    margin-bottom: 4rem;
    font-size: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($white, 0.9);
  }

  &__inner {
    background: rgba($white, 0.05);
    border-radius: 7px;
    margin: 0 1.2rem;
    max-width: 80rem;
    padding: 4rem;
  }

  &__body {
    margin-bottom: 3rem;
  }

  &__author,
  &__company {
    line-height: 1;
    text-align: right;
  }

  &__quote-label {
    font-size: 2rem;
    padding: 1rem;
    background: $ternary_color;
    display: inline-block;
    line-height: 1;
    border-radius: 50%;
    margin-left: 1rem;
  }

  // overide swiper.js styles
  &__pagination {
    bottom: 35px !important;
  }

  &__pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    background: $white;
  }

  &__pagination .swiper-pagination-bullet-active {
    background: $secondary_color;
    opacity: 1;
  }

  // hide arrows in smaller viewports
  @media screen and (max-width: 767px) {
    &__arrow {
      display: none;
    }
  }
}
